
h2 {
 font-size: 20pt;
 text-align: center;
}

.box {
padding: 10px;
width : 100px;
height : 90px;
display : block;
float : left;
text-align: center;
border: black 1px;
margin-right: 10px;
margin-left: 10px;
cursor: pointer;
border: black solid 2px;
background: orange;
margin-left: 32px;
margin-top: 30px;
}
h3 {
text-align: center;
font-size: 11px;
color:#3B5998;

}

.big_box {
padding: 10px;
width : 300px;
height : 300px;
margin: auto;
text-align: center;
border: black 1px;
cursor: pointer;
border: black solid 2px;
background: orange;
color: black;
text-decoration: none;
}
a.box {
 color: black;
}


a:hover.box {
 text-decoration: none;
}

.smiley {
font-size: 25pt;
font-weight: bold;
padding: 10px;
color: black;
text-decoration: none;
}


.big_smiley {
font-size: 100pt;
font-weight: bold;
padding: 40px;
}

.past {
 margin:auto;
 width: 500px;
}
